@import '../../App.scss';

.mainmenu-nav__list{
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.mainmenu-nav__link{
  text-decoration: none;
  font-family: $principal-font;
  font-size: 1.5rem;
  color: black
}

